.meanings__main {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  padding: 2px;
  scrollbar-width: thin;
  margin-top: 20px;
  height: 55vh;
  border-radius: 10px;
  background-color: #2d3543;
}

.subtitle {
  margin-top: 40px;
  font-size: 2vw;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}
.subtitle .MuiSvgIcon-root {
  margin-top: 16px;
}

.singleMean {
  /* background-color: #ffffff; */
  color: black;
  padding: 5px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 10px 20px;
  margin: 1px 0;
}

.hrtag {
  background-color: black;
  width: 100%;
}

@media (max-width: 900px) {
  .subtitle {
    font-size: 6vw;
    margin-top: 50px;
    text-align: center;
  }

  .meanings__main {
    margin-top: 80px;
  }
  .audio {
    width: 200px;
    height: 200px;
  }
  .MuiSvgIcon-root {
    margin-top: 22px;
  }
}
