.meanings__main {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  padding: 2px;
  /* overflow-y: scroll; */
  margin-top: 20px;
  scrollbar-width: thin;
  height: 55vh;
  border: 10px solid black;
  border-radius: 10px;
}

.subtitle {
  font-size: 3vw;
  text-align: center;
}

.singleMean {
  background-color: #ffffff;
  color: black;
  padding: 5px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 10px 20px;
  margin: 5px 0;
}

.hrtag {
  background-color: black;
  width: 100%;
}

@media (max-width: 850px) {
  .subtitle {
    font-size: 5vw;
    margin-top: 40px;
    text-align: center;
  }

  .meanings__main {
    margin-top: 40px;
  }
}
